.TodoList{
  font-family: 'Merriweather Sans',sans-serif;
  font-size: 15px;
  margin-left: auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: 10px;
  border: 0.9px solid #800000;
  padding: 5px;
  color: #f5f5dc;
}

.text {
  color: #800000;
  font-family: 'Merriweather Sans',sans-serif;
  font-size: 15px;
}