.TodoList{
  font-family: 'Merriweather Sans',sans-serif;
  font-size: 15px;
  margin-left: auto;
  margin-right:auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: 10px;
  border: 0.9px solid #800000;
  padding: 5px;
  color: #f5f5dc;
}

.text {
  color: #800000;
  font-family: 'Merriweather Sans',sans-serif;
  font-size: 15px;
}


  .button1 {
    background-color:#f5f5dc;
    color: #800000;
    padding: 4px ;
    border: 0.9px solid #800000;
    border-radius: 8px;
    margin-right: 3px
  }

  .button2 {
    background-color:#f5f5dc;
    color: #800000;
    padding: 4px 20px ;
    border: 0.9px solid #800000;
    border-radius: 8px

  }