.header {
    max-width: 500px;
    font-weight: 500px;
    font-size: 40px;
    border: 0.9px solid #800000;
    padding: 40px;
    border-radius:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 34px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color:#800000;
    margin-top: 34px;
    margin-bottom: 33px
    
}