.App {
  text-align: center;
}

.App-header {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-self: center;
  flex-direction: column;
  border-radius: 10px;
  max-width: 800px;
}

body {
  background-color:#f5f5dc
}